Options +FollowSymLinks
RewriteEngine On
RewriteBase /BelugaDemo/bin/php


RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|images|table-images|js|robots\.txt|css)
	
RewriteRule ^(.*)$ index.php?/$1 [L]
